.aname {
  text-decoration: none;
  color: black;
  font-weight: 900;
  text-align: center;
}
.shi {
  display: flex;
  padding: 20px;
  color: black;
  /* 自动换行 */
  flex-wrap: wrap;
  text-align: center;
}
.yang {
  border: 3px solid rgb(254, 254, 254);
  margin: 10px;
  padding: 10px;
  border-radius: 5px;
  height: 27px;
  font-size: 16px;
  line-height: 27px;
}
.yang:hover {
  background-color: #fbfbfb;
}
