.one {
  margin: 30px;
}
.bg {
  opacity: 0.9;
  background-color: rgba(255, 255, 255, 0.83);
  min-height: 564.8px;
  max-width: 1120px;
  margin-left: 24px;
  border-radius: 16px;
  font-weight: 900;
  text-align: center;
  padding-left: 30px;
  color: black;
  font-weight: 900;
  font-family: "仿宋";
  margin: auto;
  display: flex;
  margin-top: 16px;
  font-size: 20px;
  text-align: left;
}
a {
  text-decoration: none;
}
